* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.background-image {
  background-image: url(./img/Artboard\ 1\ 1.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: white;
}

.left_nav {
  display: flex;
  align-items: center;
  padding: 0 50px;
  gap: 7px;
}

.left_nav div:nth-child(2) {
  color: #fff;
  font-size: 30.767px;
  font-weight: 800;
}

.center_nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.right_nav {
  padding: 0 50px;
}
