* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.left-block {
  display: flex;
  flex-direction: column;
}

.gray-block {
  width: 395px;
  height: 750px;
  background: #d9d9d9;
  margin: 20px 0;
}

.right-blocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 200px;
}

.text-block {
  word-break: break-all;
  width: 500px;
  padding: 0 500px;
  margin: 20px 0;
}
